.create-dao-vector {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.create-dao-bg {
  background: linear-gradient(256.61deg, #ffa046 -0.6%, #e87825 100%);
  position: absolute;
  height: 110vh;
  width: 100vw;
  top: 0;
}

.create-dao-main {
  width: 100%;
  min-width: 90vh;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  flex-direction: row;
  padding: 20px 25px;
  margin: 0 auto;

  .left-div {
    width: 30%;
    height: 650px;
    margin-left: 20px;
    margin-top: 10vh;
    padding: 40px 0px;
    border-radius: 50px;
    background: #fba835;
    color: rgb(255, 255, 255);
    transition: box-shadow 300ms cubic-bezier(0.55, 0, 0.1, 1) 0ms;
    box-shadow: none;
    border: 1px solid #ffcb2a;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
  }
  .right-div {
    margin-top: 10vh;
    width: 80%;
    text-align: center;
    padding: 0px 20px;
    z-index: 10;

    .create-dao-info-main {
      border-radius: 50px;
      color: #ffffff;
      background: #fba835;
      color: rgb(255, 255, 255);
      transition: box-shadow 300ms cubic-bezier(0.55, 0, 0.1, 1) 0ms;
      box-shadow: none;
      border: 1px solid #ffcb2a;
      width: 100%;
      max-width: 1200px;
      min-height: 650px;
      padding: 20px 0px;
      margin: 0px auto;

      h1 {
        font-family: "MuseoModerno";
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        color: #f8f8f8;

        padding-top: 0px;
        padding-bottom: 0px;
      }
      .create-dao-info-input-parent {
        width: 80%;
        margin: 0px auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px 0px;

        .create-dao-info-input-child {
          width: 70%;
          input {
            margin: 30px 0px;
            padding: 20px;
            width: 100%;
            font-size: 1.1rem;
            background: #ffffff;
            border: none;
            border-radius: 10px;

            color: #000;
            transition: box-shadow 300ms cubic-bezier(0.55, 0, 0.1, 1) 0ms;
            box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px,
              rgba(0, 0, 0, 0.23) 0px 0px 3px -2px,
              rgba(0, 0, 0, 0.17) 0px 0px 25px;
            background-image: linear-gradient(
              rgba(255, 255, 255, 0.09),
              rgba(255, 255, 255, 0.09)
            );
          }
          textarea {
            margin: 30px 0px;
            font-size: 1.1rem;
            width: 100%;
            padding: 20px;
            resize: none;
            // background: #fefcfc;
            border: none;
            border-radius: 10px;
            background: #ffffff;
            color: #000;
            transition: box-shadow 300ms cubic-bezier(0.55, 0, 0.1, 1) 0ms;
            box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px,
              rgba(0, 0, 0, 0.23) 0px 0px 3px -2px,
              rgba(0, 0, 0, 0.17) 0px 0px 25px;
            background-image: linear-gradient(
              rgba(255, 255, 255, 0.09),
              rgba(255, 255, 255, 0.09)
            );
          }
        }
      }
      
      .fas.fa-info-circle:hover{
      cursor: pointer;
      }
      
      .create-dao-voting-inside {
        width: 80%;
        margin: 0px auto;
        padding: 0px;
        h3.voting-slider-title {
          margin: 15px 0px;
          text-align: left;
          width: 100%;
          font-family: "MuseoModerno";
          font-style: normal;
          font-weight: 600;
          font-size: 15px;
        }
        .slider-parent {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 5px 30px;
          background: #ffcb2aab;

          color: rgb(255, 255, 255);
          transition: box-shadow 300ms cubic-bezier(0.55, 0, 0.1, 1) 0ms;
          border-radius: 10px;
        }
        span.display-vote {
          border: 1px solid #ffa046;
          padding: 10px 40px;
          border-radius: 10px;
          background: #ffa046;
          box-shadow: inset 2px 2px 21px #fe8347;
          color: #ffffff;
          font-family: "MuseoModerno";
          font-style: normal;
          font-weight: 800;
          font-size: 15px;
        }
        input.display-vote-period {
          border: 1px solid #ffa046;
          font-family: "MuseoModerno";
          font-style: normal;
          font-weight: 800;
          font-size: 13px;
          padding: 10px;
          text-align: center;
          background-color: #fefcfc;
          border-radius: 10px;
          width: 20%;
          background-color: #fff;
          color: #000;
          transition: box-shadow 300ms cubic-bezier(0.55, 0, 0.1, 1) 0ms;
          box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.11);
          background-image: linear-gradient(
            rgba(255, 255, 255, 0.09),
            rgba(255, 255, 255, 0.09)
          );
          // margin: 0px 10px;
        }
      }

      .create-dao-token-config-parent {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 80%;
        margin: 10px auto;
        h3 {
          text-align: left;
          margin: 15px 0px;
          position: inherit;
          z-index: 5;
          font-family: "MuseoModerno";
          font-style: normal;
          font-weight: 600;
          font-size: 15px;
        }
        input {
          padding: 10px;
          margin-right: 20px;
          background-color: #fefcfc;
          box-shadow: none;
          font-family: "MuseoModerno";
          font-style: normal;
          font-weight: 400;
          font-size: 15px;
          border: none;
          background: #ffffff;
          color: #000000;
          transition: box-shadow 300ms cubic-bezier(0.55, 0, 0.1, 1) 0ms;
          background-image: linear-gradient(
            rgba(255, 255, 255, 0.09),
            rgba(255, 255, 255, 0.09)
          );
          border-radius: 10px;
        }
        .token-config-child-1 {
          display: flex;
          flex-direction: column;
          width: 100%;
          margin: 10px 0px;
        }
        .token-config-child-2 {
          display: flex;
          flex-direction: column;
          width: 30%;
          margin: 10px 0px;
        }
      }
      .review-main {
        width: 80%;
        margin: 20px auto;
        display: flex;
        flex-direction: column;
        gap: 20px;
        // padding: 0px 30px;
        .css-qzmcqv-MuiPaper-root-MuiAccordion-root:last-of-type {
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
        }
      }
      .create-dao-back-next-parent {
        // position: absolute;
        // bottom: 4%;
        // display: flex;
        // justify-content: space-between;
        // width: 50%;
        // margin: 20px 20px 20px 120px;
        // padding: 0px 30px;

        display: flex;
        justify-content: space-around;
        /* width: 50%; */
        margin: 20px 20px 20px 20px;
        padding: 0px 30px;
        button {
          padding: 10px 40px;
          font-size: 1.1rem;
          border-radius: 10px;
          cursor: pointer;
          max-width: 60%;
        }
        button:disabled {
          opacity: 0.5;
          cursor: not-allowed;
        }
        button.create-dao-back {
          width: 210px;
          background: #ff5f00;

          box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.25);
          border-radius: 50px;
          transition: box-shadow 300ms cubic-bezier(0.55, 0, 0.1, 1) 0ms;
          font-family: "MuseoModerno";
          font-style: normal;
          font-weight: 700;
          font-size: 15px;
          color: #fff;
          border: none;
        }
        button.create-dao-next {
          width: 210px;
          background: linear-gradient(0deg, #ffcb2a, #ffcb2a),
            linear-gradient(
              0deg,
              rgba(255, 203, 42, 0.38),
              rgba(255, 203, 42, 0.38)
            );
          background-image: linear-gradient(
            rgba(255, 255, 255, 0.03) 0%,
            rgba(255, 255, 255, 0.03) 100%
          );
          filter: drop-shadow(0px 1px 10px rgba(0, 0, 0, 0.25));
          border: 2px solid #ff7050;
          font-family: "MuseoModerno";
          font-style: normal;
          font-weight: 700;
          font-size: 15px;
          color: #ffffff;
          border-radius: 50px;
        }
        button.launch-dao {
          width: 210px;
          background: linear-gradient(0deg, #ffcb2a, #ffcb2a),
            linear-gradient(
              0deg,
              rgba(255, 203, 42, 0.38),
              rgba(255, 203, 42, 0.38)
            );
          background-image: linear-gradient(
            rgba(255, 255, 255, 0.03) 0%,
            rgba(255, 255, 255, 0.03) 100%
          );
          filter: drop-shadow(0px 1px 10px rgba(0, 0, 0, 0.25));
          border: 2px solid #ff7050;
          font-family: "MuseoModerno";
          font-style: normal;
          font-weight: 700;
          font-size: 15px;
          color: #ffffff;
          border-radius: 50px;
        }
      }
    }
  }
}

span.step-label {
  // background-color: #e0e0e0;
  background-color: transparent;

  transition: box-shadow 300ms cubic-bezier(0.55, 0, 0.1, 1) 0ms;
  // box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px,
  //   rgba(0, 0, 0, 0.23) 0px 0px 3px -2px, rgba(0, 0, 0, 0.17) 0px 0px 25px;
  // background-image: linear-gradient(
  //   rgba(255, 255, 255, 0.09),
  //   rgba(255, 255, 255, 0.09)
  // );
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 10px;
}

span.css-1hv8oq8-MuiStepLabel-label.Mui-active {
  color: #ffffff;
}

.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-active {
  color: #f78e1d !important;
  box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.17);
  border-radius: 50px;
}

.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-completed {
  color: #fff !important;
  box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.17);
  border-radius: 50px;
}

.css-4ff9q7.Mui-completed {
  color: #fff !important;
  box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.17);
  border-radius: 50px;
}

.css-1hv8oq8-MuiStepLabel-label.Mui-completed {
  color: #fff !important;
}

.css-2fdkz6.Mui-completed {
  color: #fff !important;
}

.css-vnkopk-MuiStepLabel-iconContainer.Mui-active {
  background-color: #e77700;
  padding: 11px;
  border-radius: 20px 0px 0px 20px;
}

.css-a5nipc {
  background-color: #e77700;
  padding: 11px;
  border-radius: 20px 0px 0px 20px;
}

span.css-1hv8oq8-MuiStepLabel-label.Mui-active {
  background-color: #e77700;
  padding: 12px;
  border-radius: 0px 20px 20px 0px;
  fill: #fff !important;
  width: 200px;
  font-family: "MuseoModerno";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
}

.css-2fdkz6.Mui-completed {
  background-color: #e77700;
  padding: 12px;
  border-radius: 0px 20px 20px 0px;
  fill: #fff !important;
  width: 200px;
  font-family: "MuseoModerno";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
}

.css-1vyamtt-MuiStepLabel-labelContainer {
  color: #fff !important;
}

.css-117w1su-MuiStepIcon-text {
  font-family: "MuseoModerno" !important;
  font-style: normal;
  font-weight: 500;
  font-size: 15px !important;
}

.css-1hv8oq8-MuiStepLabel-label {
  font-family: "MuseoModerno" !important;
  font-style: normal;
  font-weight: 500;
  font-size: 15px !important;
}

.css-1sn4lm3-MuiTypography-root {
  font-family: "MuseoModerno" !important;
  font-style: normal;
  font-weight: 500;
  font-size: 13px !important;
}

.css-14sza3e-MuiStepLabel-root.Mui-disabled {
  .css-vnkopk-MuiStepLabel-iconContainer {
    .css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root {
      color: #f78e1d;
    }
  }
}

.css-4ff9q7 {
  color: #f78e1d;
}

.CircularProgressbar {
  .CircularProgressbar-text {
    font-family: "MuseoModerno";
    font-style: normal;
    font-weight: 500;
  }
}

.css-8t49rw-MuiStepConnector-line {
  border-color: #fff !important;
  border-left-style: dotted !important;
  border-left-width: 2px !important;
  margin-left: 20px;
}

.css-vgb7rt-MuiStepConnector-line {
  border-color: #fff !important;
  border-left-style: dotted !important;
  border-left-width: 2px !important;
  margin-left: 20px;
}

.css-187mznn-MuiSlider-root {
  color: #fff !important;
}

.css-exkjcx-MuiSlider-root {
  color: #fff !important;
}

.css-1gv0vcd-MuiSlider-track {
  color: #f14c2c;
}

.css-1nb3drq-MuiButtonBase-root-MuiAccordionSummary-root {
  background-color: #f57f00 !important;
  border-radius: 10px !important;
  height: 50px !important;
  // margin-bottom: 20px !important;
}

.css-z8wov2-MuiButtonBase-root-MuiAccordionSummary-root {
  background-color: #f57f00 !important;
  border-radius: 10px !important;
  height: 50px !important;
}

.css-1l5l82q-MuiPaper-root-MuiAccordion-root {
  overflow: hidden !important;
}

.css-1l5l82q-MuiPaper-root-MuiAccordion-root:first-of-type {
  border-radius: 10px !important;
}

.css-1l5l82q-MuiPaper-root-MuiAccordion-root:last-of-type {
  border-radius: 10px !important;
}

.css-1iehvm3-MuiAccordionDetails-root {
  padding: 10px 10px 10px 30px !important;
}

.css-ujvv7m-MuiAccordionDetails-root {
  padding: 10px 10px 10px 30px !important;
}

.dark-background {
  background-color: rgb(21, 22, 25);
  color: rgb(255, 255, 255);
  transition: box-shadow 300ms cubic-bezier(0.55, 0, 0.1, 1) 0ms;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px,
    rgba(0, 0, 0, 0.23) 0px 0px 3px -2px, rgba(0, 0, 0, 0.17) 0px 0px 25px;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.09),
    rgba(255, 255, 255, 0.09)
  );
}

@media screen and (min-width: 2561px) {
}

@media screen and (min-width: 2000px) and (max-width: 2560px) {
}

@media screen and (min-width: 1600px) and (max-width: 1999px) {
}

@media screen and (min-width: 1440px) and (max-width: 1599px) {
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
}

@media screen and (max-width: 767px) {
  .create-dao-main {
    display: flex;
    flex-direction: column;
    min-width: 100%;

    .left-div {
      width: 87%;
      margin-bottom: 100px;
    }

    .right-div {
      width: 100%;

      .create-dao-info-main {
        h1 {
          font-size: 20px;
        }
        .create-dao-back-next-parent {
          width: 100%;
          padding: 0;
        }
        .create-dao-token-config-parent {
          display: flex;
          flex-direction: column;
          .token-config-child-1 {
            margin: 0 auto;
          }
          .token-config-child-2 {
            margin: 0 auto;
          }
        }
      }
    }
  }
  .voting-slider-title {
    font-size: 15px;
  }
  .create-dao-token-config-parent {
    h3 {
      font-size: 15px;
    }
  }
}
