.select-bg {
  background: linear-gradient(256.61deg, #ffa046 -0.6%, #e87825 100%);
  position: absolute;
  min-height: 100vh;
  height: auto;
  padding-bottom: 50px;
  width: 100vw;
  top: 0;
}

.template-bg {
  background: linear-gradient(256.61deg, #ffa046 -0.6%, #e87825 100%);
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
}

.select-main {
  // box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.3);
  // min-height: 90vh;
  height: auto;
  width: 100%;
  margin: 0 auto;
  // margin-bottom: 10vh;
  // padding-top: 50px;
  h1 {
    margin-top: 15vh;
    color: #ffffff;
    text-align: center;
    position: relative;
    font-family: "MuseoModerno";
    font-style: normal;
    font-size: 45px;
    font-weight: 500;
    z-index: 20;
  }
  p {
    // color: #ffa046;
    text-align: center;
    margin: 10px 0px;
    position: relative;
    // font-size: 1.1rem;
  }
  .temp-p {
    color: #ffffff;
    font-family: "MuseoModerno";
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    z-index: 20;
    margin-bottom: 20px;
  }
  .templates-div {
    width: 80%;
    margin: 10px auto;
    align-items: center;
    margin-top: 0px;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    .card-template {
      width: 350px;
      position: relative;
      border: 1px solid #fedac6;
      border-radius: 50px;
      background-image: linear-gradient(
        rgba(255, 255, 255, 0.03) 0%,
        rgba(255, 255, 255, 0.03) 100%
      );
      background-color: #fedac6;
      z-index: 10;
    }
    img.cover-image-card {
      padding: 30px;
      filter: contrast(90%);
      border-radius: 50px;
      height: 25vh;
      margin-bottom: -30px;
    }
    // .card-template.disable {
    //   opacity: 0.5;
    //   cursor: not-allowed;
    // }
    div {
      margin: 0 auto;
      // color: #ff5731;
      font-family: "MuseoModerno";
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
    }
    button.card-show-more-btn {
      position: absolute;
      padding: 10px 20px;
      border-radius: 50px;
      background-color: #744ca0;
      color: #ffcb2a;
      font-family: "MuseoModerno";
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      transition: all 0.2s linear;
      margin-left: -70px;
      margin-top: 60px;

      &:hover {
        transform: scale(1.05);
      }
    }
    p.template-info {
      text-overflow: ellipsis;
      overflow: hidden;
      // Addition lines for 2 line or multiline ellipsis
      display: -webkit-box !important;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
      white-space: normal;
      font-family: "MuseoModerno";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      // color: #ff5f00;
    }
  }
}

.template-details-main {
  position: relative;
  width: 90%;
  max-width: 1240px;
  margin: 70px auto;
  overflow: hidden;
  height: max-content;
  z-index: 10;
  // min-height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: center;

  div.left-div {
    margin-top: 20vh;
    background: linear-gradient(
        0deg,
        rgba(255, 87, 49, 0.42),
        rgba(255, 87, 49, 0.42)
      ),
      linear-gradient(0deg, #ff923e, #ff923e);
    background-repeat: repeat;
    border: 1px solid #ff923e;
    backdrop-filter: blur(30px);
    width: 60%;
    color: #ffffff;
    // border: 1px solid black;
    padding: 20px 30px;
    margin-right: 20px;
    border-radius: 50px;
    img {
      width: 140px;
      border-radius: 100px;
      margin-top: -100px;
      margin-left: 270px;
    }
    h1 {
      color: #ffcb2a;
      font-family: "MuseoModerno";
      font-style: normal;
      font-weight: 600;
      font-size: 36px;
      text-align: center;
    }
    h2 {
      margin: 10px 0px;
      color: #ffcb2a;
      font-family: "MuseoModerno";
      font-style: normal;
      font-weight: 600;
      font-size: 36px;
      text-align: center;
    }
    p {
      font-family: "MuseoModerno";
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      margin: 10px 0px;
      color: #ffffff;
      text-align: center;
    }

    .use-temp-main {
      display: flex;
      flex-direction: row;
    }

    button.use-template {
      margin: 20px 0px 20px 100px;
      cursor: pointer;
      background: #ffffff;
      border: none;
      border-radius: 59px;
      width: 70%;
      padding: 20px 10px;
      position: absolute;
      z-index: 10;
      color: #f78e1d;
      font-family: "Inter";
      font-style: normal;
      font-weight: 700;
      font-size: 20px;

      // &:hover {
      //   background: #1976d2;
      //   border: 1px solid #1976d2;
      //   color: #fff;
      // }
    }
    .use-btn-aro {
      cursor: pointer;
      position: relative;
      z-index: 15;
      height: 50px;
      margin-top: 28px;
      right: -250px;
    }
  }
  div.right-div {
    margin-top: 20vh;
    width: 30%;
    color: #ffffff;
    border: none;
    background: linear-gradient(
        0deg,
        rgba(255, 87, 49, 0.56),
        rgba(255, 87, 49, 0.56)
      ),
      linear-gradient(0deg, #ff923e, #ff923e);
    border-radius: 50px;
    padding: 0px 0px;
    text-align: center;
    // background-image: url("../assets/dark-dotted-2.png");
    // background-position: 100% 200%;
    // background-size: ;
    background-repeat: repeat;

    h2 {
      border-radius: 50px 50px 0px 0px;
      // padding: 10px 20px;
      font-family: "MuseoModerno";
      font-style: normal;
      font-weight: 600;
      font-size: 32px;
      color: #ff5731;
      background: #f8f8f8;
      box-shadow: 0px 2px 18px rgba(0, 0, 0, 0.25);
      height: 15vh;
      margin: 0 auto;
      padding: 15px 80px 30px 80px;
    }
  }
  .included-config {
    margin: 50px 0px;
    // border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .included-item {
      width: 70%;
      margin: 10px 0px;
      //   border: 1px solid black;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      background: #ff5731;
      padding: 20px;
      border-radius: 20px;

      img {
        margin-right: 40px;
        margin-left: 10px;
        background: #ff6c46;
        padding: 10px;
        border-radius: 50px;
        box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.17);
      }
      p {
        text-align: justify;
        font-family: "MuseoModerno";
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
      }
    }
  }
}

.vector {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
}

.vector1 {
  position: absolute;
  bottom: 0;
  z-index: 5;
}

.Vector2 {
  position: absolute;
  bottom: 0;
  z-index: 5;
  width: 100%;
}

// .Bg-img {
//   top: 0;
//   width: 100%;
//   height: auto;
//   position: absolute;
//   z-index: 1;
// }

@media screen and (min-width: 2561px) {
}

@media screen and (min-width: 2000px) and (max-width: 2560px) {
}

@media screen and (min-width: 1600px) and (max-width: 1999px) {
}

@media screen and (min-width: 1440px) and (max-width: 1599px) {
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .template-details-main {
    position: relative;
    width: 90%;
    max-width: 1240px;
    margin: 70px auto;
    overflow: hidden;
    height: max-content;
    z-index: 10;
    // min-height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: center;

    div.left-div {
      img {
        margin-left: 180px;
      }
      .use-btn-aro {
        right: -200px;
      }
    }

    div.right-div {
      h2 {
        padding: 10px 0 0 0;
      }
    }

    .included-config {
      .included-item {
        p {
          margin-left: -30px;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
}

@media screen and (max-width: 767px) {
  .select-main {
    h1 {
      font-size: 25px;
    }
  }
  .template-details-main {
    display: flex;
    flex-direction: column;

    div.left-div {
      width: 100%;
      h1 {
        font-size: 20px;
      }
      h2 {
        font-size: 20px;
      }
      button.use-template {
        font-size: 14px;
      }
    }

    div.right-div {
      width: 100%;
      margin-top: 100px;
      h2 {
        font-size: 15px;
      }
    }
  }
  .vector1 {
    width: 100px;
  }
}
